$charcoal-grey-100: #2f2f32;
$black: #181715;
$light-royal-blue: #3652ff;
$yellowish-orange: #ffad0c;
$azure: #26acf3;
$brown-grey-100: #8b8b8b;
$tangerine: #ff8c01;
$brown-grey-80: #a3a3a3;
$charcoal-grey-80: #38383a;
$white: #ffffff;
$dark-grey: #222224;
$grey: #4b4b4b;