@import '../../../styles.scss';

.container {
    display: flex;
    flex-direction: row;
}

.banner {
    width: 1366px;
    height: 280px;
    object-fit: contain;
}

.back {
  width: 24px;
  height: 24px;
  object-fit: contain;
  position: absolute;
  top: 32px;
  left: 32px;
  cursor: pointer;
}

.logout {
    width: 24px;
    height: 24px;
    object-fit: contain;
    position: absolute;
    top: 32px;
    right: 32px;
    cursor: pointer;
  }

.label-heroes {
  width: 333px;
  height: 56px;
  font-family: 'Open Sans';
  font-size: 40px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.95px;
  color: $white;
  position: absolute;
  top: 14px;
  margin-left: -32px;
}

.personagem-img {
    width: 160px;
    height: 160px;
    object-fit: contain;
    margin-left: 171px;
    border-radius: 50%;
    position: absolute;
    top: 200px;
  }

.container-info {
    display: flex;
    flex-direction: column;
}

.personagem-nome {
    width: 411px;
    height: 36px;
    font-family: 'Open Sans';
    font-size: 40px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.03;
    letter-spacing: normal;
    color: $white;
    margin-left: 363px;
    margin-top: 24px;
  }

  .personagem-descricao {
    height: 100px;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.63;
    letter-spacing: normal;
    color: $white;
    margin: 50px 171px 0px 171px;
  }

  .personagem-wiki {
    width: 150px;
    height: 40px;
    border-radius: 4px;
    background-image: linear-gradient(75deg, $light-royal-blue 9%, $azure 89%);
    margin: 0 auto;
  }

  .label-wiki {
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2px;
    text-align: center;
    color: $white;
    cursor: pointer;
    }